.items-list{
    display: inline-block;
    width: 200px;
    height: 120px;
    margin: 20px;
    padding: 20px;
    background: #FFFFFF;
    vertical-align: top;
    position: relative;
}

.items-list .name{
    background: #222222;
    color: #FFFFFF;
    left: 0;
    top: 0;
    right: 0;
    padding: 20px;
    position: absolute;
    cursor: pointer;
}

.items-list .name:hover{
    color: #666666;
}

.items-list .icon{
    position: absolute;
    bottom: 20px;
    font-size: 24px;
}

.items-list .icon-play-outline{
    margin: 0 0 0 -50px;
    left: 50%;
}

.items-list .icon-queue-add{
    margin: 0 -50px 0 0;
    right: 50%;
}