.items-list{
    width: 100%;
    height: 100%;
    position: relative;
}

.items-list .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 49px;
    background: #F2F2F2;
    font-weight: 700;
    border-bottom: 1px solid #DDDDDD;
}

.items-list .body {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.items-list .row {
    clear: both;
    width: 100%;
}

.items-list .body .row {
    border-bottom: 1px solid #EEEEEE;
}

.items-list .body .row:first-child {
    border: 0;
}

.items-list .col {
    float: left;
    text-indent: 20px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.items-list .col.center {
    text-align: center;
    width: 100%;
}

.items-list .col40 {
    width: 40%;
}

.items-list .col30 {
    width: 30%;
}

.items-list .col20 {
    width: 20%;
}

.items-list .icon{
    color: #666666;
    font-size: 20px;
    margin: 0 5px
}

.items-list .icon:hover{
    color: #222222;
}