#container .sub-container {
    overflow-y: auto;
    height: 100%;
    background: #FFFFFF;
    border-top: 1px solid #DDDDDD;
    margin-top: -1px 0 0 0;
}

.tracks-list{
    width: 100%;
    line-height: 45px;
    border-collapse: collapse;
    color: #222222;
    font-size: 14px;
}

.tracks-list td,
.tracks-list th{
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tracks-list td{
    border-bottom: 1px solid #EEEEEE;
}

.tracks-list th{
    height: 0;
    line-height: 0;
    color: transparent;
    font-weight: 700;
}

.tracks-list th div{
  position: absolute;
  background: transparent;
  color: #222222;
  padding: 15px 0;
  top: 0;
  line-height: normal;
  cursor: pointer;
}

.tracks-list tr td .icon{
    color: #666666;
    font-size: 20px;
    margin: 0 5px
}

.tracks-list tr td .icon:hover{
    color: #222222;
}