.items-list{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 12px;
}

.items-list .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 49px;
    background: @light;
    font-weight: 700;
    border-bottom: 1px solid #DDDDDD;
}

.items-list .body {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.items-list .body::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 12px;
}

.items-list .body::-webkit-scrollbar-thumb{
    background-color: #999999;
    border: 4px solid #FFFFFF;
}

.items-list .row {
    clear: both;
    width: 100%;
}

.items-list .body .row {
    border-bottom: 1px solid #EEEEEE;
}

.items-list .body .row:first-child {
    border: 0;
}

.items-list .col {
    float: left;
    padding: 0 20px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
}

.items-list .col.actions{
    overflow: initial;
}

.items-list .col.right {
    text-align: right;
}

.items-list .col.center {
    text-align: center;
}

.items-list .col60 {
    width: 60%;
}

.items-list .col40 {
    width: 40%;
}

.items-list .col30 {
    width: 30%;
}

.items-list .col20 {
    width: 20%;
}

.items-list .icon{
    color: @dark;
    font-size: 16px;
    margin: 0 5px
}

.items-list .icon:hover{
    color: @semi-dark;
}

.items-list .icon-three-dots{
    position: relative;
}

.items-list button.show-more{
    margin: 40px 0;
}

.items-list .other-action{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 250px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px rgba( 10, 10, 22, 0.25 );
    border-radius: 3px;
    text-align: left;
    z-index: 10;
    font-size: 12px;
}

.items-list .other-action li{
    line-height: 40px;
    vertical-align: middle;
}

.items-list .other-action li:hover{
    background: @light;
}

.items-list .other-action li .icon{
    vertical-align: sub;
    margin: 0 20px;
}