#side-bar{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: @semi-dark;
    width: 300px;
}

#logo-container{
    height: 70px;
    line-height: 70px;
    background: @dark;
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
}

#logo-container .round{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -5px 2px 0 0;
    vertical-align: middle;
    border-radius: 50px;
    border: 4px solid #FFFFFF;
}

#waiting-tracks-container{
    position: absolute;
    top: 201px;
    bottom: 50px;
    padding: 10px 20px 0 20px;
    left: 0;
    right: 0;
    margin: 0;
    overflow: auto;
}

#waiting-tracks-container::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 12px;
}

#waiting-tracks-container::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.25);
    border: 4px solid @semi-dark;
}

.waiting-track{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    position: relative;

    &:last-child{
        border: 0;
    }
}

.waiting-track .icon-play-outline,
.waiting-track .icon-remove{
    display: none;
    position: absolute;
    line-height: 20px;
    right: 0;
    font-size: 20px;
    color: #FFFFFF;
}

.waiting-track .icon-play-outline{
    top: 8px;
}

.waiting-track .icon-remove{
    bottom: 8px;
}

.waiting-track:hover .icon-remove,
.waiting-track:hover .icon-play-outline{
    display: block;
}

.waiting-track-title,
.waiting-track-artist{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
}

.waiting-track-title{
    font-size: 14px;
    color: #FFFFFF;
}

.waiting-track-artist{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin: 3px 0 0 0;
}

.bottom-bar-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    background: @dark;
}

.bottom-bar-container .icon{
    color: #FFFFFF;
    margin: 0 20px 0 0;
}

.bottom-bar-container .icon.deactive{
    color: rgba(255, 255, 255, 0.25);
}