#top-bar{
    position: absolute;
    left: 300px;
    border-left: 1px solid @semi-dark;
    top: 0;
    right: 0;
    background: @dark;
    height: 65px;
    line-height: 65px;
}

.view-mode{
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    width: 20%;
    float: left;
    text-align: center;

    &:hover{
        color: rgba(255, 255, 255, 0.75);
    }

}

.view-mode.active{
    color: #FFFFFF;
}