<div class="header">
    <div class="row">
        <div class="col col30" ng-click="orderByField = 'title'; reverseSort = !reverseSort">
            Album <span ng-show="orderByField == 'title'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
        </div>
        <div class="col col30" ng-click="orderByField = 'tracks'; reverseSort = !reverseSort">
            Tracks <span ng-show="orderByField == 'tracks'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
        </div>
        <div class="col col40" ng-click="orderByField = 'artist'; reverseSort = !reverseSort">
            Artist <span ng-show="orderByField == 'artist'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
        </div>
    </div>
</div>

<div class="body">
    <div class="row" ng-repeat="album in filteredList = ( model.albumsList | filter:model.filter | orderBy:orderByField:reverseSort ) | limitTo:listLimit">
        <div class="col col30">{{album.title}}</div>
        <div class="col col30">{{album.tracks.length}} tracks</div>
        <div class="col col20">{{album.tracks[0].artist}}</div>
        <div class="col col20 right">
            <span class="icon icon-play-outline" ng-click="onPlayTracks( album.tracks )"></span>
            <span class="icon icon-queue-add" ng-click="onAddTracksToWaitingTracks( album.tracks )" ng-if="model.currentTrack"></span>
            <span class="icon icon-share" ng-click="onOpenShareDialog( album )"></span>
        </div>
    </div>
    <div class="row" ng-if="listLimit < filteredList.length">
        <div class="col center" ng-click="onShowMore(listLimit)">
            Show more albums
        </div>
    </div>
</div>