<div id="container">

    <div class="sub-container">

        <table class="tracks-list" ng-if="model.viewMode === 'tracks'">
            <thead>
                <tr>
                    <th>
                        Title
                        <div>
                            <span ng-click="orderByField = 'title'; reverseSort = !reverseSort">Title</span>
                            <span ng-show="orderByField == 'title'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th>
                        Album
                        <div>
                            <span ng-click="orderByField = 'album'; reverseSort = !reverseSort">Album</span>
                            <span ng-show="orderByField == 'album'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th>
                        Artist
                        <div>
                            <span ng-click="orderByField = 'artist'; reverseSort = !reverseSort">Artist</span>
                            <span ng-show="orderByField == 'artist'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="track in model.tracks | filter:model.filter | orderBy:orderByField:reverseSort">
                    <td>{{track.title}}</td>
                    <td>{{track.album}}</td>
                    <td>{{track.artist}}</td>
                    <td>
                        <span class="icon icon-play-outline" ng-click="onPlayTrack( track )"></span>
                        <span class="icon icon-queue-add" ng-click="onAddTrackToWaitingTracks( track )" ng-if="model.currentTrack"></span>
                        <span class="icon icon-star" ng-click="onUnstarTrack( track )" ng-if="track.starred === 1"></span>
                        <span class="icon icon-star-outline" ng-click="onStarTrack( track )" ng-if="track.starred === 0"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="tracks-list" ng-if="model.viewMode === 'albums'">
            <thead>
                <tr>
                    <th>
                        Album
                        <div>
                            <span ng-click="orderByField = 'name'; reverseSort = !reverseSort">Album</span>
                            <span ng-show="orderByField == 'name'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th>
                        Tracks
                        <div>
                            <span ng-click="orderByField = 'tracks'; reverseSort = !reverseSort">Tracks</span>
                            <span ng-show="orderByField == 'tracks'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th>
                        Artist
                        <div>
                            <span ng-click="orderByField = 'artist'; reverseSort = !reverseSort">Artist</span>
                            <span ng-show="orderByField == 'artist'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="album in model.albumsList | filter:model.filter | orderBy:orderByField:reverseSort">
                    <td>{{album.name}}</td>
                    <td>{{album.tracks.length}} tracks</td>
                    <td>{{album.tracks[0].artist}}</td>
                    <td>
                        <span class="icon icon-play-outline" ng-click="onPlayTracks( album.tracks )"></span>
                        <span class="icon icon-queue-add" ng-click="onAddTracksToWaitingTracks( album.tracks )" ng-if="model.currentTrack"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="tracks-list" ng-if="model.viewMode === 'artists'">
            <thead>
                <tr>
                    <th>
                        Artist
                        <div>
                            <span ng-click="orderByField = 'name'; reverseSort = !reverseSort">Artist</span>
                            <span ng-show="orderByField == 'name'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th>
                        Tracks
                        <div>
                            <span ng-click="orderByField = 'tracks'; reverseSort = !reverseSort">Tracks</span>
                            <span ng-show="orderByField == 'tracks'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="artist in model.artistsList | filter:model.filter | orderBy:orderByField:reverseSort">
                    <td>{{artist.name}}</td>
                    <td>{{artist.tracks.length}} tracks</td>
                    <td>
                        <span class="icon icon-play-outline" ng-click="onPlayTracks( artist.tracks )"></span>
                        <span class="icon icon-queue-add" ng-click="onAddTracksToWaitingTracks( artist.tracks )" ng-if="model.currentTrack"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="tracks-list" ng-if="model.viewMode === 'details'">
            <thead>
                <tr>
                    <th>
                        Title
                        <div>
                            <span ng-click="orderByField = 'title'; reverseSort = !reverseSort">Title</span>
                            <span ng-show="orderByField == 'title'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th>
                        Album
                        <div>
                            <span ng-click="orderByField = 'album'; reverseSort = !reverseSort">Album</span>
                            <span ng-show="orderByField == 'album'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th>
                        Artist
                        <div>
                            <span ng-click="orderByField = 'artist'; reverseSort = !reverseSort">Artist</span>
                            <span ng-show="orderByField == 'artist'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="track in model.detailsList | filter:model.filter | orderBy:orderByField:reverseSort">
                    <td>{{track.title}}</td>
                    <td>{{track.album}}</td>
                    <td>{{track.artist}}</td>
                    <td>
                        <span class="icon icon-play-outline" ng-click="onPlayTrack( track )"></span>
                        <span class="icon icon-queue-add" ng-click="onAddTrackToWaitingTracks( track )" ng-if="model.currentTrack"></span>
                    </td>
                </tr>
            </tbody>
        </table>


        <table class="tracks-list" ng-if="model.viewMode === 'favourites'">
            <thead>
                <tr>
                    <th>
                        Title
                        <div>
                            <span ng-click="orderByField = 'title'; reverseSort = !reverseSort">Title</span>
                            <span ng-show="orderByField == 'title'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th>
                        Album
                        <div>
                            <span ng-click="orderByField = 'album'; reverseSort = !reverseSort">Album</span>
                            <span ng-show="orderByField == 'album'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th>
                        Artist
                        <div>
                            <span ng-click="orderByField = 'artist'; reverseSort = !reverseSort">Artist</span>
                            <span ng-show="orderByField == 'artist'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="track in model.favouritesList | filter:model.filter | orderBy:orderByField:reverseSort">
                    <td>{{track.title}}</td>
                    <td>{{track.album}}</td>
                    <td>{{track.artist}}</td>
                    <td>
                        <span class="icon icon-play-outline" ng-click="onPlayTrack( track )"></span>
                        <span class="icon icon-queue-add" ng-click="onAddTrackToWaitingTracks( track )" ng-if="model.currentTrack"></span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>