<div id="container">

    <table class="tracks-list" ng-if="model.viewMode === 'tracks'">
        <tr ng-repeat="track in model.tracks | filter:model.filter">
            <td>{{track.title}}</td>
            <td>{{track.album}}</td>
            <td>{{track.artist}}</td>
            <td>
                <span class="icon icon-play-outline" ng-click="onPlayTrack( track )"></span>
                <span class="icon icon-queue-add" ng-click="onAddTrackToWaitingTracks( track )" ng-if="model.currentTrack"></span>
            </td>
        </tr>
    </table>

    <div class="items-list" ng-repeat="(albumName, tracks) in model.albumsList | filter:model.filter" ng-if="model.viewMode === 'albums'">
        <div class="name" ng-click="onViewDetails(tracks)">{{albumName}}</div>
        <div class="icon icon-play-outline" ng-click="onPlayTracks( tracks )"></div>
        <div class="icon icon-queue-add" ng-click="onAddTracksToWaitingTracks( tracks )"></div>
    </div>

    <div class="items-list" ng-repeat="(artistName, tracks) in model.artistsList | filter:model.filter" ng-if="model.viewMode === 'artists'" ng-click="onViewDetails(tracks)">
        <div class="name" ng-click="onViewDetails(tracks)">{{artistName}}</div>
        <div class="icon icon-play-outline" ng-click="onPlayTracks( tracks )"></div>
        <div class="icon icon-queue-add" ng-click="onAddTracksToWaitingTracks( tracks )"></div>
    </div>

    <table class="tracks-list" ng-if="model.viewMode === 'details'">
        <tr ng-repeat="track in model.detailsList | filter:model.filter">
            <td>{{track.title}}</td>
            <td>{{track.album}}</td>
            <td>{{track.artist}}</td>
            <td>
                <span class="icon icon-play-outline" ng-click="onPlayTrack( track )"></span>
                <span class="icon icon-queue-add" ng-click="onAddTrackToWaitingTracks( track )" ng-if="model.currentTrack"></span>
            </td>
        </tr>
    </table>

</div>