<div class="header">
    <div class="row">
        <div class="col col40" ng-click="orderByField = 'name'; reverseSort = !reverseSort">
            Name <span ng-show="orderByField == 'name'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
        </div>
        <div class="col col60" ng-click="orderByField = 'tracks'; reverseSort = !reverseSort">
            Tracks <span ng-show="orderByField == 'tracks'" class="sort-indicator">{{reverseSort ? "▾" : "▴"}}</span>
        </div>
    </div>
</div>

<div class="body">
    <div class="row" ng-repeat="playlist in filteredList = ( model.playlistsList | filter:model.filter | orderBy:orderByField:reverseSort ) | limitTo:listLimit">
        <div class="col col40">{{playlist.name}}</div>
        <div class="col col30">{{playlist.tracks.length}} tracks</div>
        <div class="col col30">
            <span class="icon icon-edit" ng-click="openDetails = !openDetails"></span>
            <span class="icon icon-play-outline" ng-click="onPlayTracks( playlist.tracks )"></span>
            <span class="icon icon-queue-add" ng-click="onAddTracksToWaitingTracks( playlist.tracks )" ng-if="model.currentTrack"></span>
        </div>

        <div class="col" ng-if="openDetails">
            <div class="playlist-tracks-container">
                <div class="row" ng-repeat="track in playlist.tracks">
                    <div class="col col40">{{track.title}}</div>
                    <div class="col col30">{{track.title}}</div>
                    <div class="col col30">{{track.album}}</div>
                </div>
            </div>
        </tr>

    </div>

    <div class="row" ng-if="listLimit < filteredList.length">
        <div class="col center" ng-click="onShowMore(listLimit)">
            Show more playlists
        </div>
    </div>

</div>