<audio id="audio-tag" ng-src="model.currentTrack.url"></audio>

<div id="current-track-title">
    {{model.currentTrack.title}}
</div>

<div id="current-track-artist">
    by {{model.currentTrack.artist}}
</div>

<div id="progress-bar-container" ng-if="model.currentTrack" ng-click="onSetCurrentTime($event)">
    <div id="progress-bar" style="width:{{player.currentTime / player.duration * 100}}%"></div>
</div>

<div id="current-time" ng-if="player.currentTime">
    {{player.currentTime | formatTime}}
</div>

<div id="current-duration" ng-if="player.duration">
    {{player.duration | formatTime}}
</div>

<div id="player-button-bar">
    <span class="icon icon-skip-previous" ng-class="model.playedTracks.length > 0 ? 'active' : 'deactive'" ng-click="onPrevious()"></span>

    <span class="icon icon-play" ng-if="player.paused" ng-click="onPlay()"></span>
    <span class="icon icon-pause" ng-if="!player.paused" ng-click="onPause()"></span>

    <span class="icon icon-skip-next" ng-class="model.waitingTracks.length > 0 ? 'active' : 'deactive'" ng-click="onNext()"></span>
</div>

<div class="clear"></div>