<audio id="audio-tag" ng-src="model.currentTrack.url"></audio>

<img ng-src="{{model.currentTrack.albumArtwork || './images/album-placeholder.png'}}">

<div id="current-track-title">
    {{model.currentTrack.title || '-'}}
</div>

<div id="current-track-artist">
    {{model.currentTrack.artist || '-'}}
</div>

<div id="progress-bar-container" ng-click="onSetCurrentTime($event)">
    <div id="progress-bar" style="width:{{player.currentTime / player.duration * 100}}%"></div>
</div>

<div id="current-time">
    {{player.currentTime || 0 | formatTime}}
</div>

<div id="current-duration">
    {{player.duration || 0 | formatTime}}
</div>

<div id="player-button-bar">
    <span class="icon icon-skip-previous" ng-class="model.playedTracks.length > 0 ? 'active' : 'deactive'" ng-click="onPrevious()"></span>

    <span class="icon icon-play" ng-if="player.paused" ng-click="onPlay()"></span>
    <span class="icon icon-pause" ng-if="!player.paused" ng-click="onPause()"></span>

    <span class="icon icon-skip-next" ng-class="model.waitingTracks.length > 0 ? 'active' : 'deactive'" ng-click="onNext()"></span>
</div>

<div class="clear"></div>

<!--
<div id="player-icons-bar">
    <span class="icon icon-shuffle" ng-click="onShuffleWaitingTracks()" title="Shuffle waiting tracks" ng-if="model.waitingTracks.length > 1"></span>
    <span class="icon icon-radio" ng-click="onPlayRandomTracks()" title="Play random tracks"></span>
    <span class="icon icon-delete" ng-click="onRemoveWaitingTracks()" title="Remove waiting tracks" ng-if="model.waitingTracks.length > 1"></span>
</div>

<div class="clear"></div>
-->