<div id="logo-container">
    <span class="round"></span>
    Superlogo
</div>

<div id="player-container" ng-show="model.currentTrack.title">
    <player></player>
</div>

<ul id="waiting-tracks-container">
    <li ng-repeat="track in model.waitingTracks track by $index" class="waiting-track">
        <div class="waiting-track-title">
            {{track.title}}
        </div>
        <div class="waiting-track-artist">
            {{track.artist}}
        </div>
        <div class="icon icon-remove" ng-click="onRemoveWaitingTrack($index)"></div>
        <div class="icon icon-play-outline" ng-click="onPlayWaitingTrack($index)"></div>
    </li>
</ul>