<div id="player-container">
    <player></player>
</div>

<ul id="waiting-tracks-container" as-sortable="sortableOptions" ng-model="model.waitingTracks" ng-if="model.waitingTracks.length > 0">
    <li ng-repeat="track in model.waitingTracks" as-sortable-item class="waiting-track">
        <div as-sortable-item-handle class="as-sortable-item-handle">
            <div class="waiting-track-title">
                {{track.title}}
            </div>
            <div class="waiting-track-artist">
                {{track.artist}}
            </div>
            <div class="icon icon-remove" ng-click="onRemoveWaitingTrack($index)"></div>
            <div class="icon icon-play-outline" ng-click="onPlayWaitingTrack($index)"></div>
        </div>
    </li>
</ul>

<div id="waiting-tracks-container" ng-if="model.waitingTracks.length < 1">
    <div class="empty-message">
        The player queue is empty.
    </div>
</div>