<input type="file" multiple/>
<span ng-if="progress">
    {{progress.current / progress.end * 100 | number:0}}%
</span>
<ul class="files-list">
    <li ng-repeat="file in uploadedList">
        <div class="status">
            <span ng-if="!file.status" class="icon icon-forbidden"></span>
            <span ng-if="file.status" class="icon icon-check"></span>
        </div>
        <div class="title">{{file.title || '-'}}</div>
        <div class="artist">{{file.artist || '-'}}</div>
        <div class="album">{{file.album || '-'}}</div>
    </li>
</ul>
<div class="clear"></div>
<div class="button-bar">
    <button class="active" ng-click="onClose()">Close</button>
</div>